<!DOCTYPE html>
<html>
  <head>
    <title>Hydro</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
  </head>

  <body>
      <div id="green1"></div>
      <div id="num-blue"></div>
      <div id="nav-gray"></div>
      <div id="green2"></div>

    <%= render 'shared/nav' %>

    <p class="notice"><%= notice %></p>
	  <p class="alert"><%= alert %></p>
    <%= yield %>


  </body>
</html>
